<table class="table">
    <thead>
        <tr class="table-title-border">
            <th class="table-title">Recipe name</th>
            <th class="table-title">Reviews</th>
            <th class="table-title">Cooked before</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-item-border">
            <td>Mixed Berry Melody</td>
            <td>
                <img src="assets/Icon/Rating/Shape.svg" alt="">
                <img src="assets/Icon/Rating/Shape.svg" alt="">
                <img src="assets/Icon/Rating/Shape.svg" alt="">
                <img src="assets/Icon/Rating/Shape.svg" alt="">
                <img src="assets/Icon/Rating/Shape_border.svg" alt="">
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </td>
        </tr>
    </tbody>
</table>