    <!-- Modal -->
	<div class="modal left fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</p>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->


  
  <!-- Modal -->
  <div class="modal left fade" id="newRecipeModal" tabindex="-1" aria-labelledby="newRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">New recipe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <div class="mb-2">
                        <span class="form-title">Recipe name</span>
                    </div>
                    
                    <div class="form-floating">
                        <input type="email" class="form-control border-blue" id="floatingInput" placeholder="Title">
                        <label for="floatingInput">Title*</label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <span class="form-title">Ingredients</span>
                    </div>
                    <div class="row align-items-center justify-content-center mb-3">
                        <label for="staticEmail" class="col-sm-1 col-form-label">1</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control border-blue" id="staticEmail" placeholder="Type ingredient">
                        </div>
                        <img class="col-sm-1 icon-trash" src="assets/Icon/Delete/delete.svg" alt="">
                    </div>
                    <div class="row align-items-center justify-content-center mb-3">
                        <label for="staticEmail" class="col-sm-1 col-form-label">2</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control border-blue" id="staticEmail" placeholder="Type ingredient">
                        </div>
                        <img class="col-sm-1 icon-trash" src="assets/Icon/Remove/Add/add-circle.svg" alt="">
                    </div>                    
                </div>


                <div class="mb-3">
                    <div class="mb-2">
                        <span class="form-title">Preparation</span>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control border-blue" id="floatingTextarea" placeholder="Instructions"></textarea>
                        <label for="floatingInput">Instructions*</label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <span class="form-title">Reviews</span>
                    </div>                    
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <span class="form-title">Cooked before</span>
                    </div>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button class="btn-create">Create</button>
                </div>



            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>
