.btn-add {
    background: #0C969D;
    border-radius: 100%;
    cursor: pointer;
    
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 24px;
    right: 21px;
}
